(
    axes: {
        "mouse_x": Mouse(
            axis: X,
            over_extendable: true,
            radius: 1.0
        ),
        "mouse_y": Mouse(
            axis: Y,
            over_extendable: true,
            radius: 1.0
        ),
        "mouse_wheel": MouseWheel(
            horizontal: false,
        ),
    },
    actions: {
      "mouse_middle": [[Mouse(Middle)]],
      "mouse_left_click": [[Mouse(Left)]],
      "mouse_right_click": [[Mouse(Right)]],
    },
)